<app-navbar></app-navbar>
<div class="jumbotron landing-container">

  <div class="landing-ana">
    <img src="../assets/images/ana.png" />
  </div>

  <div class="landing-platform"></div>
</div>

<!-- <div class="placeholder"></div> -->

<div class="container-fluid placeholder">
  <div class="row">
    <div class="col-md-12">
      <h1></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img class="img-thumbnail" src="../assets/images/cover4.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-thumbnail" src="../assets/images/cover1.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-thumbnail" src="../assets/images/cover2.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img class="img-thumbnail" src="../assets/images/cover3.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card title</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

</div>
