.jumbotron {
  background: url('../../assets/images/background.png') no-repeat fixed;
  height: 100vh;
  background-size: cover;
}

.landing-title {
  overflow-x: hidden;
  padding-top: 40px;
  font-family: 'Press Start 2P', cursive;
  h1 {
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    color: rgb(88, 150, 255);
    small {
      color: black;
    }
  }
}

.landing-container {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: -webkit-flex;
}

.landing-platform {
  left: 0px;
  background: url('../../assets/images/block.png') repeat-x;
  height: 90px;
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.landing-ana {
  text-align: center !important;
  margin: 0 auto;
  bottom: 90px;
  position: absolute;
}

.placeholder {
  height: 300px;
}
