<app-navbar></app-navbar>

<div class="jumbotron">

  <div class="row landing-title text-center">
    <div class="col-md-12">
      <h5>welcome to</h5>
      <h1>anazard.me</h1>
    </div>
  </div>

  <div class="landing-container">
    <div class="landing-ana">
      <img src="../../assets/images/ana.png" />
    </div>

    <div class="landing-platform"></div>
  </div>
</div>

<!-- <div class="placeholder"></div> -->

<div class="container-fluid placeholder">
  <div class="row">
    <div class="col-md-12">
      <h1></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3" *ngFor="let card of [1, 2, 3, 4]">
      <div class="card">
        <img class="img-thumbnail" src="../../assets/images/cover{{card}}.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">Card number {{card}}</h4>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
